*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : rgb(241, 160, 37);
    --text-color: #000;
}
.h-parent{
    display: flex;
    justify-content: center;
    animation: slideDown 0.9s ease forwards;
}
@keyframes slideDown{
  0%{
    transform: translateY(-100%);
    opacity:0;
  }
  100%{
    transform: translateY(0);
    opacity:1;
  }
}
.header {
    font-family: 'Poppins', sans-serif;
font-weight: 600;
    border: 1px solid #000;
  padding: 1.2em 3.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0.2em;
  margin: 0.8em 0em;
  border-radius: 40px;
  width: 90vw;
}

.logo {
  font-size: 25px;
  font-weight: bolder;  
  text-transform: uppercase;
}
.h-logo{
    position: relative;
    right: 8%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3em;
}
.nav-links a {
    padding: 0.4em 0.8em;
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
}
.nav-links a:hover {
    border-radius: 8px;
    background: linear-gradient(
  to right,
  rgba(255, 116, 2, 0.925) 0%,
  rgba(247, 127, 15, 0.6) 35%,
  rgba(252, 116, 25, 0) 90%
);
}

/* -------------------------
Hamburger
-------------------------- */
.openbtn {
    border: 1px solid var(--text-color);
    border-radius: 10px;
  position: relative;
  cursor: pointer;
  width: 52px;
  height: 50px;
  display: none;
}

.openbtn span {
    position: absolute;
    left: 13px;
    width: 50%;
    height: 3px;
    background: var(--text-color);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.openbtn span:nth-of-type(1) {
    top: 13px;
}
.openbtn span:nth-of-type(2) {
    top: 19px;
}
.openbtn span:nth-of-type(3) {
    top: 25px;
}

.openbtn span:nth-of-type(3)::after {
    content: "menu";
    position: absolute;
    top: 6px;
    left: -2px;
    font-size: 10px;
    color:var(--text-color);
    text-transform: uppercase;
}

.openbtn.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
  left: 18px;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    left: 18px;
}

.openbtn.active span:nth-of-type(3)::after {
    content: "close";
    transform: rotate(-45deg);
    left: 4px;
}
 @media (max-width: 768px){
.header{
        padding: 0.8em 1.2em;
        margin: 0.5em 0em;
        width: 95vw;
        border-radius: 22px;
    }
    .openbtn {
        display: block;
    }
    .nav-links a{
        color: #fff;
    }
    .nav-links {
        position: absolute;
        top: 5em;
        right: 0;
        left: 0;
        background: #00000079;
        width: 95vw;
        border-radius: 20px;
        flex-direction: column;
        padding: 2em ;
        gap: 2em;
        overflow: hidden;
        opacity: 0;
        transform: translateX(80%);
        transition: 
        opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    }
    .nav-links :hover{
        border-radius: 8px;
         background: linear-gradient(
  to right,
  rgba(255, 116, 2, 0.925) 0%,
  rgba(247, 127, 15, 0.6) 35%,
  rgba(252, 116, 25, 0) 80%
); 
    }
    .nav-links.active {
        max-height: 500px; 
    opacity: 1;
    transform: translateX(0);
    }
    .nav-links li{
        border-bottom: 1.5px solid #fff;
        padding: 0.5em 0;
    }
    .h-logo{
        right: 2.5%;
    }
}