*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #221f1f;
    --text-color: #fff;
}
body{
    background-color: var(--text-color);
}
.header {
    /* border: 1px solid red; */
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1.2em 3.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0.2em;
  margin: 0.8em 5em;
  border-radius: 40px;
}

.logo {
  font-size: 25px;
  font-weight: bolder;  
  text-transform: uppercase;
}
.h-logo{
    /* border: 1px solid white; */
    position: relative;
    right: 8%;
    /* margin: 0 0.4em; */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3em;
}
.nav-links a {
    /* border: 1px solid red; */
    padding: 0.4em 0.8em;
    /* margin: 0 1.5em; */
    color: var(--text-color);
    text-decoration: none;
    font-size: 15px;
}
.nav-links a:hover {
    /* opacity: 0.1; */
    /* border: 1px solid #fff; */
    border-radius: 8px;
    background-color: grey;
}

/* -------------------------
Hamburger
-------------------------- */
.openbtn {
    border: 1px solid #fff;
    border-radius: 10px;
  position: relative;
  cursor: pointer;
  width: 52px;
  height: 50px;
  display: none;
}

.openbtn span {
    position: absolute;
    left: 13px;
    width: 50%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.openbtn span:nth-of-type(1) {
    top: 13px;
}
.openbtn span:nth-of-type(2) {
    top: 19px;
}
.openbtn span:nth-of-type(3) {
    top: 25px;
}

.openbtn span:nth-of-type(3)::after {
    content: "menu";
    position: absolute;
    top: 6px;
    left: -2px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
}

/* active state */
.openbtn.active span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
  left: 18px;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    left: 18px;
}

.openbtn.active span:nth-of-type(3)::after {
    content: "close";
    transform: rotate(-45deg);
    left: 4px;
}

 @media (max-width: 768px){
.header{
        padding: 0.8em 1.2em;
        margin: 0.5em 0.4em;
        border-radius: 28px;
    }
    .openbtn {
        display: block;
    }
    .nav-links {
        /* border: 1px solid red; */
        /* padding: 0;
        margin: 0; */
        position: absolute;
        top: 5em;
        right: 0;
        left: 0;
        /* background: #0a0119e8; */
        background: #000000c2;
        width: 97.5vw;
        border-radius: 20px;
        /* height: 60vh; */
        flex-direction: column;
        padding: 2em ;
        gap: 2em;
        /* text-decoration: underline #fff; */
        /* max-height: 0; */
        /* align-items: center; */
        /* align-items: calc(); */
        overflow: hidden;
        opacity: 0;
        transform: translateX(80%);
        transition: 
        /* max-height 0.7s ease-in-out, */
        opacity 0.5s ease-in-out,
      transform 0.5s ease-in-out;
    }
    .nav-links :hover{
        border-radius: 8px;
        background-color: grey;
    }
    .nav-links.active {
        max-height: 500px; 
    opacity: 1;
    transform: translateX(0);
    }
    .nav-links li{
        border-bottom: 1.5px solid #fff;
        padding: 0.5em 0;
    }
    .h-logo{
        right: 2.5%;
    }
}